<h2>Dashboard</h2>
<div class="row mt-4">
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Alunos</h5>
                <p class="card-text" id="total-alunos">0</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Exercícios</h5>
                <p class="card-text" id="total-exercicios">0</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Treinos</h5>
                <p class="card-text" id="total-treinos">0</p>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <h4>Treinos Recentes</h4>
    <div id="treinos-recentes" class="list-group">
        <!-- Os treinos recentes serão listados aqui -->
    </div>
</div>